@import "tailwindcss";

@theme {
  --color-text: #ffffff;
  --color-background: #131417;
  --color-primary: #47cf73;
  --color-secondary: #2c303a;
  --color-accent: #e4d944;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-secondary);
  scroll-behavior: smooth;
}
